*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:url('pexels-simon-berger-1183099.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    
}
.icon{
    width: 450px;
    float: left;
    height: 70px;
    margin-left: 2%;
    margin-top: 5px;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding-top: 10px;
    font-family: Arial;
    float: left;
    font-weight: 700;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

}
.menu{
    width: 100px;
    float: left;
    height: 70px;
}
ul{
    margin-left: 180px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 20px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: #fff;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

    font-weight: bold;
    font-family: Arial;

}
ul li a:hover{
    color: #ff7200;
}
.contacts{
    font-size: 900;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    padding-top: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.img{
    height: 18px;
}

 .fb{
    color: rgb(6, 6, 173);

}
.insta{
    color: rgb(223, 17, 103)
}
.twitter{
    color: skyblue;
}
.you{
    color: red;
}