*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:url('pexels-simon-berger-1183099.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    float: left;
}
.main1{
    width: 50%;
    float: left;
}
.navbar{
    width: 1200px;
    height: 75px;
    
}
.icon{
    width: 450px;
    float: left;
    height: 70px;
    margin-left: 2%;
    margin-top: 5px;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding-top: 10px;
    font-family: Arial;
    float: left;
    font-weight: 700;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

}
.menu{
    width: 100px;
    float: left;
    height: 70px;
}
ul{
    margin-left: 180px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 20px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: #fff;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

    font-weight: bold;
    font-family: Arial;

}
ul li a:hover{
    color: #ff7200;
}
/*.content:after {
    content: "";
    display: table;
    clear: both;
  }*/
.content{
    float: left;
    width: 100%;
}
.content h1{
    color: rgb(238, 255, 0);
    padding: 10px;
    margin-left: 20px;
    font-size: 60px;
    display: flex;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    width: 40%;
    
    float: left;

}

 .paragraph{
    color: rgb(255, 255, 255);
    margin: 25px;
    width: 40%;
    margin-right: 60%;
    margin-left: 50px;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    line-height: 160%;
    display: flex;
    float: left;

}
br{
    border:2px solid #ff7200;
}
.container {
    position: relative;
  }
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content2{
    width: 35%;
    float: right;
    text-align: center;
    
  }
  .content2 h1{
    color: aqua;
        text-shadow: 5px 5px 5px rgb(0, 0, 0);
    font-size: 60px;
  }
  .content2 button a{
    text-decoration: none;

  }
  .button {
    background-color: #c4810e; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  
  .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }