*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:url('pexels-simon-berger-1183099.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    
}
.icon{
    width: 450px;
    float: left;
    height: 70px;
    margin-left: 2%;
    margin-top: 5px;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding-top: 10px;
    font-family: Arial;
    float: left;
    font-weight: 700;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

}
.menu{
    width: 100px;
    float: left;
    height: 70px;
}
ul{
    margin-left: 180px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 20px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: #fff;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

    font-weight: bold;
    font-family: Arial;

}
ul li a:hover{
    color: #ff7200;
}
.offer h1{
    color: rgb(255, 162, 0);
    font-size: 60px;
        padding-top: 20px;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

}
.offer .h3{
    color:rgb(0, 255, 51);
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
 
}
.offer h2{
    color:rgb(255, 174, 0);
    text-align: center;
    font-size: 45px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

 
}
.offers{
    width: 600px;
    border: 1px solid gray;

  margin-left: 30%;
  margin-right: 30%;
padding: 20px;
}
.offers h1{
    color: yellow;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);


}
.offers1{
    width: 600px;
    border: 1px solid gray;

  margin-left: 30%;
  margin-right: 30%;
  padding: 20px;
}
.offers1 h1{
    color: yellow;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);


}
.offers2{
    width: 600px;
  border: 1px solid gray;
  margin-left: 30%;
  margin-right: 30%;
padding: 20px;

}
.offers2 h1{
    color: yellow;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

}
#red{
    color: red;
}
#white{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}