*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:url('pexels-simon-berger-1183099.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    
}
.icon{
    width: 450px;
    float: left;
    height: 70px;
    margin-left: 2%;
    margin-top: 5px;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding-top: 10px;
    font-family: Arial;
    float: left;
    font-weight: 700;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

}
.menu{
    width: 100px;
    float: left;
    height: 70px;
}
ul{
    margin-left: 180px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 20px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: #fff;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

    font-weight: bold;
    font-family: Arial;

}
ul li a:hover{
    color: #ff7200;
}
.table1{
    width: 50%;
    float: left;
}
.table1 h1{
    color: aqua;
    text-align: center;
    font-size: 35px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

}
.table1 h2{
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

    color: rgb(252, 133, 133);
    text-align: center;
}
#table1 {
    padding-left: 150px;
    text-align: center;
}
#table1 td{
    font-size: 25px;
    padding: 0.5px;
    border: 1px solid white;
    padding: 7px;
    text-align: center;
    color: aliceblue;
    font-family: Arial;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);


}
.table2{
    width: 50%;
    float: left;
}
.table2 h1{
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    color: aqua;
    text-align: center;
    font-size: 35px;
}
.table2 h2{
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

    color: rgb(252, 133, 133);
    text-align: center;
}
#table2 {
    padding-left: 150px;
    text-align: center;
}
#table2 td{
    font-size: 25px;
    padding: 0.5px;
    border: 1px solid white;
    padding: 7px;
    text-align: center;
    color: aliceblue;
    font-family: Arial;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);


}
.yellow{
    color: yellow;
}
.orange{
    color: #ff7200;
}
.red{
    color: rgb(163, 186, 239);
}